<nav class="navbar text-white">
    <div class="col col-12 d-flex justify-content-center mb-3">
        <a class="navbar-brand text-white"><b>Menú</b></a>
    </div>
    <div class="col col-12">
        <ul class="list-group list-group-flush">
            <div class="d-flex mb-3 justify-content-center align-items-center">
                <a href="/" style="text-decoration: none; background-color: none;"><li class="list-group-item border-0 fs-6 text-center text-white bg-transparent">Home</li></a>
            </div>
            <div class="d-flex mb-3 justify-content-center align-items-center">
                <a href="#" style="text-decoration: none; background-color: none;"><li class="list-group-item border-0 fs-6 text-center text-white bg-transparent">Próximamente</li></a>
            </div>
        </ul>
    </div>
</nav>