<header>
    <app-headerhome></app-headerhome>
</header>
<section>
    <div class="row mx-0"  style="height: 100vh;">
        <div class="col col-2 p-3 bg-primary">
            <div class="row align-items-center">
                <app-asidebarhome></app-asidebarhome>
            </div>
        </div>
        <div class="col col-10 bg-light">
            <div class="row justify-content-center align-items-center">
                <app-sectionhome></app-sectionhome>
            </div>
        </div>
    </div>
</section>
<footer>
    <app-footerhome></app-footerhome>
</footer>