<div class="row">
    <div class="col col-12 p-5">
        <div class="col col-12 d-flex p-3"
            style="background-image: url(assets/img/adulto_soledad2.jpg); background-repeat: no-repeat; background-size: cover;">
            <div class="col col-12 d-flex p-3 align-items-center text-center text-white">
                <h1>Citas Programa Adulto Mayor 2022</h1>
            </div>
        </div>
    </div>
    <div class="col col-12 m-3">
        <div class="col col-12">
            <h4>Propósito</h4>
        </div>
        <div class="col col-12 d-flex p-4 align-items-center">
            <p>Esta herramienta es desarrollada con el fin de facilitar el proceso de inscripción al
                <strong>Programa de Gobierno Colombia Mayor 2022</strong>; además, se agilizará la <strong>recepción
                    de documentos</strong> en las alcadías (o entidades concercientes) para hacer el debido registro
                de la solicitud de quienes desean participar en dicho programa, evitando largas filas, entre otras
                cuestiones.
            </p>
        </div>
    </div>
    <div class="col col-12 d-flex justify-content-center">
        <div class="col col-4 p-3 text-center border-1 border-end border-dark">
            <div class="col col-12">
                <h4>Beneficios</h4>
            </div>
            <div class="col col-12">
                <ul class="list-group list-group-flush">
                    <li>Facilidad de manejo</li>
                    <li>Evitar las filas</li>
                    <li>Desde su hogar</li>
                    <li>Disponibilidad 24/7</li>
                </ul>
            </div>
        </div>
        <div class="col col-4 p-3 text-center border-1 border-end border-dark">
            <div class="col col-12">
                <h4>Otro tema</h4>
            </div>
            <div class="col col-12">
                <ul class="list-group list-group-flush">
                    <li>Facilidad de manejo</li>
                    <li>Evitar las filas</li>
                    <li>Desde su hogar</li>
                    <li>Disponibilidad 24/7</li>
                </ul>
            </div>
        </div>
        <div class="col col-4 p-3 text-center">
            <div class="col col-12">
                <h4>Otro tema</h4>
            </div>
            <div class="col col-12">
                <ul class="list-group list-group-flush">
                    <li>Facilidad de manejo</li>
                    <li>Evitar las filas</li>
                    <li>Desde su hogar</li>
                    <li>Disponibilidad 24/7</li>
                </ul>
            </div>
        </div>
    </div>
</div>